<!doctype html>
<html lang="en">
  <head>
    <%- include('../partials/head')%>
    <title>EJS Calculator</title>
  </head>
  <body>
    <%- include('../partials/calculator')  %> 
    <%- include('../partials/scripts')%>
    </body>
</html>